/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
/*********************/
/* CUSTOM PROPERTIES */
/*********************/ :root {
  --main-font: "Montserrat", sans-serif;
  --color-text: #000000;
  --color-background: #ffffff;
  --uppercase: uppercase;
  --border-radius: 0.3em;
  --border-button: 2em;
}
/****************/
/* Algemeen */
/****************/
body {
  font-family: var(--main-font);
  width: 100vw;
  overflow-x: hidden;
}
h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); /* Voor oudere browsers */
  clip-path: inset(50%);
  white-space: nowrap; /* Zorgt ervoor dat de tekst niet wordt afgebroken */
}
p {
  font-size: 1em;
  line-height: 1.2;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}
header a img:first-of-type {
  height: 3em;
  margin-left: 2em;
}
/*********************/
/* Bovenste menu */
/*********************/
nav.bovenmenu {
  height: 2.5em;
  width: 100vw;
  background-color: #e9e9e9;
  list-style-type: none;
  align-items: center;
  justify-content: end;
  display: flex;
  padding-right: 2em;
}
.bovenmenu a {
  text-decoration: none;
  color: #4c4c4c;
  font-size: 0.8em;
  text-transform: none;
}
.bovenmenu ul {
  gap: 2em;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.bovenmenu {
  display: block;
}
/*********************/
/* HOOFDMENU Dames, heren etc. tablet en mobiel */
/*********************/
/* Tabs W3Schools https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-top: 2em;
  transition: 0.3s;
  font-size: 0.8em;
  text-transform: var(--uppercase);
  font-weight: 800;
} 
/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 3px solid var(--color-text);
  transition-duration: 0.5ms;
}
/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 3px solid var(--color-text);

}
/* Style the tab content */
.tabcontent {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 1em;
  display: none;
  border-top: none;
  z-index: 2;
}
div#London.tabcontent img,
div#Paris.tabcontent img,
div#Tokyo.tabcontent img {
  width: 80vw;
  border-radius: var(--border-radius);

}
@media (max-width: 976px) {
	.tablet-nav {
		display: flex;
	}
	
	header img:first-of-type {
		order: 2;
	}
	
	.menutoggle {
		order: 1;
	}
}
/*********************/
/* SUMMARY */
/*********************/
details {
  width: 80vw;
  border-bottom: 1px solid #d6d6d6;
  margin: 3em 0;
}

summary {
  display: flex; /* Zorgt voor flexibele layout */
  justify-content: space-between; /* Tekst links, afbeelding rechts */
  align-items: center; /* Uitlijning op dezelfde hoogte */
  cursor: pointer; /* Geeft een handje aan bij hover */
  font-size: 0.8em; /* Voor de tekstgrootte */
  font-weight: 800;
  text-transform: var(--uppercase);
}

div#London.tabcontent details summary img,
div#Paris.tabcontent details summary img,
div#Tokyo.tabcontent details summary img {
  width: 1.5em; /* Pas de grootte van de afbeelding aan */
  height: 1.5em; /* Houd de afbeelding vierkant */
}

div#London.tabcontent details ul,
div#Paris.tabcontent details ul,
div#Tokyo.tabcontent details ul {
  margin: 1em 0 0 2em; /* Styling van de lijst */
  padding: 0;
  list-style-type: none;
}
div#London.tabcontent details li,
div#Paris.tabcontent details li,
div#Tokyo.tabcontent details li {
  font-size: 0.6em;
  font-weight: 600;
  margin: 1em 0;
  color:#2d2d2d;
}

/********************************************************************/
/* HAMBURGER MENU https://codepen.io/erikterwan */
/********************************************************************/
#menuToggle {
  display: none;
}
@media (max-width: 968px) {
  nav.desktop-nav {
    display: none;
  }
  header {
    justify-content: flex-end;
    gap: 2.2em;
  }

  ul#menu li h3.tablet-heading {
    text-transform: var(--uppercase);
  }
  #menuToggle {
    display: block;
    /* You can also use relative/absolute here if you want to stay on the top */
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 1; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  /*
 * Just a quick hamburger
 */
  #menuToggle span {
    order: 0;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--color-text);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  /*
 * But let's hide the middle one.
 */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /*
 * Ohyeah and the last one should go the other direction
 */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  #menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    box-sizing: border-box;
    overflow-y: auto;
    background: var(--color-background);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  #menu li label {
    cursor: pointer;
  }
  /*
 * And let's slide it in from the left
 */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
/*********************/
/* HOOFDMENU Desktop */
/*********************/
nav {
  display: flex;
  align-items: center;
  height: 6em;
  background: var(--color-background);

}
nav.desktop-nav a {
  color: var(--color-text);
  text-decoration: none;
}
nav.desktop-nav li {
  list-style-type: none;
  margin: 0 1em;
}
nav.desktop-nav ul.mainmenu {
  display: flex;
  gap: 1em;
}
nav.desktop-nav ul.mainmenu > li a, nav.desktop-nav li.menuheading {
  color: var(--color-text);
  font-family: var(--main-font);
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .15s ease 0s;
}
/* Hover-toon submenu */
nav.desktop-nav ul.mainmenu li:hover ul {
  position: absolute;
  display: block;
  z-index: 3;
  top: auto;
  left: 0;
  width: 100vw;
  height: auto;
  background: var(--color-background);
}
nav.desktop-nav ul.mainmenu li:hover .submenu-container {
  display: flex;
  justify-content: center;
}
nav.desktop-nav ul.submenu li > a {
  color: var(--color-text);
  font-family: var(--main-font);
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  transition: color .15s ease 0s;
  color: #696969;
}
nav.desktop-nav ul.mainmenu li ul {
  display: none; 
  top: 0;
}
nav.desktop-nav ul.mainmenu li:hover ul.submenu {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 10vw;
  height: 40vh;
  padding: 2vh 0;
}
/*********************/
/* Icons en searchbar */
/*********************/
header .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  margin-right: 1em;
}
header .icons a img {
  height: 1.5em;
}
/*********************/
/* Banner */
/*********************/
main .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Plaats tekst en links onder elkaar */
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: var(--color-background);
  padding: 1em;
  width: 100%;
  text-align: center;
  position: absolute;
}
.overlay-content h2 {
  font-size: 2.5em;
  text-transform: var(--uppercase);
}
main .banner img {
  height: 30vh;
  width: 100vw;
}
.overlay-content a {
  padding: 1em 3em;
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: 600;
  text-transform: var(--uppercase);
  text-decoration: none;
  text-align: center;
  border-radius: 10em;
  font-size: 1em;
}
/*********************/
/* Video + Text index */
/*********************/
main .section-video {
  display: flex;
  align-items: center; /* Centreer verticaal */
  position: relative; /* Voor overlay */
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Voorkom dat inhoud buiten de container valt */
}
.section-video video {
  position: absolute; /* Video vult de achtergrond */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zorg dat de video de container vult zonder vervorming */
  z-index: -1; /* Zet de video achter de overlay-inhoud */
}
.overlay-content2 {
  display: flex;
  flex-direction: column; /* Stapel items verticaal */
  align-items: flex-start;
  color: var(--color-background);
  padding: 2em;
  gap: 1em;
  text-align: left;
}
.overlay-content2 h2 {
  font-size: 3em;
  text-transform: var(--uppercase);
}
.buttonvideo {
  display: inline-block; /* Zorgt ervoor dat de knop zich als een blok gedraagt, maar nog steeds inline blijft - W3Schools */
  padding: 1em 15em;
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: 600;
  text-transform: var(--uppercase);
  text-decoration: none;
  text-align: center;
  border-radius: var(--border-button);
  font-size: 1em;
}
.buttondames {
  display: inline-block; /* Zorgt ervoor dat de knop zich als een blok gedraagt, maar nog steeds inline blijft - W3Schools */
  padding: 1em 15em;
  background-color: #4c4c4c;
  color: var(--color-background);
  font-weight: 600;
  text-transform: var(--uppercase);
  text-decoration: none;
  text-align: center;
  border-radius: var(--border-button);
  font-size: 1em;
}
.buttonvideo :hover {
  background-color: #afafaf;
}
.buttondames:hover {
  background-color: #2d2d2d;
}
/*********************/
/* MOBILE VIDEO SWITCH */
/*********************/
@media (min-width: 768px) {
  .video-desktop {
    display: block;
  }
  .video-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .video-desktop {
    display: none;
  }
  .video-mobile {
    display: block;
  }
/*********************/
/* STYLING ITEMS OVER VIDEO */
/*********************/
  .overlay-content2 {
    align-items: center;
    text-align: left;
    justify-content: center;
    display: flex;
    padding: 0.8em;
  }
  .overlay-content2 p {
    font-size: 0.9em;
  }
  .overlay-content2 a {
    font-size: 0.9em;
  }
  .buttonvideo {
    padding: 1em 14em;
  }
  .buttondames {
    padding: 1em 14em;
  }
}
/*********************/
/* Shop index */
/*********************/
div.heading h3 {
  font-size: 3em;
  text-transform: var(--uppercase);
}
div.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
div.heading a {
  text-decoration: underline;
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.2em;
}
/* Foto container met Grid */
ul.container-product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 4fr)); /* Dynamische kolommen op basis van schermgrootte - DLO */
  list-style-type: none;
  grid-gap: 2em;
  margin-left: 2em;
}
/* Styling voor individuele product items */
li.product {
  position: relative;
  margin-top: 2em;
  border-radius: 8px;
  width: 20vw;
}
li.product img {
  width: 20vw;
  border-radius: var(--border-radius)
}
/*********************/
/* icons product */
/*********************/
img.search-icon {
  left: 1em;
}
img.bag-icon {
  right: 1em;
}
img.heart-icon {
  left: 2.5em;
}
li.product a img, .container-product2 .product a img {
  position: absolute;
  top: 1em;
  height: 2em;
  width: 2em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.3em;
  border-radius: 5em;
}
/*********************/
/* text product*/
/*********************/
li.product p, .product h4 {
  text-align: left;
  margin-top: 10px;
}
li.product p:last-child {
  font-size: 1.2em;
  font-weight: 800;
}
/*********************/
/* Overview winkel op prijs*/
/*********************/
section.shop-by-price h3 {
  font-size: 2em;
  margin: 2em 1em;
  text-transform: var(--uppercase);
}
ul.container-price {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr); /* Desktop: 3 kolommen */
  justify-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.container-price li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
ul.container-price img {
  width: 80%; /* Zorg dat afbeeldingen mooi schalen */
  height: auto;
  border-radius: 8px;
  margin-bottom: 1em;
}
ul.container-price h3 {
  font-size: 1.2em;
  text-transform: var(--uppercase);
  text-align: center;
  margin: 1em 0;
}
ul.container-price a {
  display: inline-block;
  padding: 1em 10em;
  background-color: var(--color-text);
  color: var(--color-background);
  font-weight: 600;
  text-transform: var(--uppercase);
  text-decoration: none;
  border-radius: var(--border-button);
  font-size: 1em;
}
ul.container-price a:hover {
  background-color: #2d2d2d;
}
@media (max-width: 1290px) {
  ul.container-price {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .container-price h3 {
    font-size: 1.3em;
  }
  ul.container-price a {
    padding: 1em 7em;
    font-size: 1em;
  }
  ul.container-product {
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(3, 2fr); /* Desktop: 3 kolommen */
    justify-items: center;
    list-style-type: none;
    padding: 0;
    margin: 2em;
  }
  li.product {
    position: relative;
    margin-top: 2em;
    border-radius: 8px;
    width: 25vw;
  }
  li.product img {
    width: 25vw;
    border-radius: var(--border-radius);
  }
  nav.bovenmenu {
    display: none;
  }
  .icons a:nth-child(2) {
    display: none;
  }
  .searchbar input {
    display: none;
  }
  .bovenmenu {
    display: none;
  }
}
@media (max-width: 1024px) {
  ul.container-product {
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(2, 2fr); /* Desktop: 3 kolommen */
    justify-items: center;
    list-style-type: none;
    padding: 0;
    margin: 2em;
  }
  li.product {
    position: relative;
    margin-top: 2em;
    border-radius: 8px;
    width: 40vw;
  }
  li.product img {
    width: 40vw;
    border-radius: var(--border-radius);
  }
  /* Positie van zoek- en winkelmand-icoontjes bovenaan het product */
}
/*********************/
/* TEL WINKEL OP PRIJS + PRODUCTS*/
/*********************/
  @media (max-width: 768px) {
    .container-price h3 {
      font-size: 1.2em;
    }
    .container-price a {
      padding: 1em 10em;
      font-size: 1em;
    }
    .heading h3, .overlay-content2 h2 {
      font-size: 2em;
    }
    .heading a {
      font-size: 1em;
    }
    ul.container-product {
      display: grid;
      grid-template-columns: repeat(4, 100vw); /* Zorgt voor horizontaal scrollen - ChatGPT */
      overflow-x: auto; /* Maakt horizontaal scrollen mogelijk - ChatGPT */
      scroll-snap-type: x mandatory; /* Zorgt voor smooth snapping bij swipen - Chat-GPT */
      -webkit-overflow-scrolling: touch; /* Maakt scrollen soepel op iOS-apparaten - Chat-GPT */
    }
    li.product {
      width: 100vw; /* Producten nemen de volle breedte van de viewport in */
    }
    li.product img {
      width: 100%; /* Afbeeldingen vullen het product */
    }
  }
/*********************/
/* TRAININGVIDEO'S INDEX*/
/*********************/
section.section-training h4 {
  font-size: 2em;
  padding: 2em;
  text-transform: var(--uppercase);
}
ul.container-training {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-left: 2em;
}
ul.container-training li {
  position: relative;
  overflow: hidden;
  list-style: none;
}
ul.container-training video {
  width: 25vw;
  height: auto;
  display: block;
  border-radius: var(--border-radius);
}
ul.container-training li h3, .container-training li a {
  position: absolute;
  margin-left: 1em;
  z-index: 2;
}
ul.container-training li h3 {
  bottom: 3em;
  font-size: 1.8em;
  text-transform: var(--uppercase);
  color: var(--color-background)
}
ul.container-training a {
  bottom: 1em;
  padding: 1em 5em;
  text-decoration: none;
  border-radius: var(--border-button);
  background-color: var(--color-background);
  color: black;
  font-weight: 600;
  text-transform: var(--uppercase);
}
ul.container-training a:hover {
  background-color: #d8d8d8;
}
@media (max-width: 1290px){
  ul.container-training {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
  ul.container-training video {
    width: 45vw;
  }
}
/*********************/
/* Overlay content shop.html */
/*********************/
.overlay-content-shop {
  position: relative;
  width: 100vw;
}
.overlay-content-shop img {
  width: 100vw;
  height: auto;
  display: block;
}
.overlay-content-shop img:first-of-type {
  display: block;
}
.overlay-content-shop img:last-of-type {
  display: none;
}
@media (max-width: 900px) {
  .overlay-content-shop img:first-of-type {
    display: none;
  }
  .overlay-content-shop img:last-of-type {
    display: block;
  }
}
.overlay-text {
  position: absolute;
  display: flex;
  flex-direction: column; /* Stapel items verticaal */
  text-align: left;
  color: white;
  bottom: 50%;
  left: 5em;
  z-index: 0;
}
.overlay-text h2 {
  font-size: 2em;
  text-transform: uppercase;
  position: relative;
}
/*********************/
/* Grid product shop*/
/*********************/
.container-product2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 kolommen op desktop */
  width: 100vw;
  list-style-type: none;
}
.container-product2 .product {
  text-align: center;
  width: 18vw;
  margin-left: 2em;
}
.container-product2 .product img {
  height: auto;
  display: block;
  width: 18vw;
}
ul.container-product2 .product:last-of-type {
  grid-column: span 2; /* Neemt 2 kolommen in op desktop */
  position: relative;
  display: flex;
  width: 40vw;
}
ul.container-product2 .product:last-of-type img:first-of-type {
  display: block;
  width: 38vw;
}
ul.container-product2 .product:last-of-type img:last-of-type {
  display: none;
}
.overlay-text-lastproduct {
  position: absolute;
  display: flex;
  flex-direction: column; /* Stapel items verticaal */
  text-align: left;
  color: white;
  bottom: 5em;
  left: 2em;
  z-index: 1;
}
.product h2 {
  text-transform: uppercase;
}
div.overlay-text-lastproduct a {
    padding: 1em 4em;
    text-align: center;
    text-decoration: none;
    border-radius: var(--border-button);
    background-color: var(--color-background);
    color: var(--color-text);
    font-weight: 600;
    text-transform: var(--uppercase);
}
div.overlay-text-lastproduct a:hover {
  background-color: #afafaf;   
}
/*********************/
/* Container product tablet */
/*********************/
@media (max-width: 1500px) {
  ul.container-product2 {
    grid-template-columns: repeat(3, 1fr);
  }
  ul.container-product2 .product {
    width: 28vw;
  }
  ul.container-product2 .product img {
    width: 28vw;
  }
  ul.container-product2 .product:nth-child(8) {
   display: none;
  }
  ul.container-product2 .product:last-of-type {
    height: auto;
    grid-column: span 2;
  }
  ul.container-product2 li.product:last-of-type img:first-of-type {
    width: 60vw;
  }
  .overlay-text-lastproduct p {
    font-size: 0.8em;
  }
  ul.container-product2 li.product .heart-icon {
    height: 2em;
    width: 2em;
  }
}
/*********************/
/* Container product mobile */
/*********************/
@media (max-width: 768px) {
  ul.container-product2 {
    grid-template-columns: 1fr;
    width: 100vw;
  }
  ul.container-product2 .product {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 1em;
  }
  ul.container-product2 .product img {
    height: auto;
    width: 90vw;
  }
  ul.container-product2 .product:last-of-type {
    grid-column: 1; /* Neemt 1 kolom in op mobiel */
    display: flex;
    flex-direction: column;
  }
  ul.container-product2 .product:last-of-type img:first-of-type {
    display: none;
  }
  ul.container-product2 .product:last-of-type img:last-of-type {
    display: block;
  }
  li.product h2 {
    text-transform: uppercase;
    font-size: 1.3em;
  }
  div.overlay-text-lastproduct p {
    margin-right: 4em;
  }
}
/*********************/
/* Footer */
/*********************/
.links {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}
.links ul {
  list-style-type: none;
}
.links ul a {
  text-decoration: none;
  color: #4c4c4c;
  font-size: 0.9em;
}
.links h5 {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-transform: var(--uppercase);
}
.paragraph {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4em;
}
footer .paragraph h4 {
  font-size: 1.6em;
  text-transform: var(--uppercase);
}
footer .paragraph h5 {
  font-size: 1.4em;
  text-transform: var(--uppercase);
}
@media (max-width: 1024px) {
  .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media (max-width: 767px) {
  .links {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    gap: 3em;
  }
  .paragraph {
    font-size: 0.8em;
    padding: 2.5em;
  }
}
/*********************/
/* ALGEMENE STYLING */
/*********************/
@media (max-width: 767px) {
  ul.container-product::-webkit-scrollbar, ul.container-price::-webkit-scrollbar, ul.container-training::-webkit-scrollbar {
    display: none; /* Verbergt de scrollbar in WebKit-browsers zoals Chrome en Safari - Chat-GPT */
  }
  ul.container-product, ul.container-price, ul.container-training {
    -ms-overflow-style: none; /* Verbergt de scrollbar in Internet Explorer en Edge - Chat-GPT */
    scrollbar-width: none; /* Verbergt de scrollbar in Firefox - Chat-GPT */
  }
  ul.container-price, ul.container-training {
    display: grid;
    grid-template-columns: repeat(3, 100vw); /* Zorgt voor horizontaal scrollen - ChatGPT */
    overflow-x: auto; /* Maakt horizontaal scrollen mogelijk - ChatGPT */
    scroll-snap-type: x mandatory; /* Zorgt voor smooth snapping bij swipen - Chat-GPT */
    -webkit-overflow-scrolling: touch; /* Maakt scrollen soepel op iOS-apparaten - Chat-GPT */
  }
  ul.container-price li, ul.container-training li {
    width: 100vw;
  }
  .container-price img, ul.container-training video {
    width: 90%;
  }
}
/*********************/
/* DARK THEME */
/*********************/
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-text);
	}
/*********************/
/* HAMBURGERMENIU */
/*********************/
#menuToggle a {
  text-decoration: none;
  color: var(--color-background);
  transition: color 0.3s ease;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 1; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span {
    background: var(--color-background);
  }

#menuToggle input:checked ~ span {
  background: var(--color-background)
}
#menu {
  background: var(--color-text);
}
/*********************/
/* STYLING NAV */
/*********************/
	nav.desktop-nav ul.mainmenu li a {
		color: var(--color-background);
  }
  nav.desktop-nav ul.mainmenu li:hover ul {
    background: var(--color-text);
  }
  nav.desktop-nav ul.submenu li.menuheading {
    color: var(--color-background);
  }
  nav.desktop-nav ul.submenu li > a {
    color: var(--color-background);
  }
  nav.desktop-nav ul.submenu li > a:hover {
    text-decoration: underline;
  }
  nav.desktop-nav {
		background-color: var(--color-text);
	}
  nav.bovenmenu {
    background-color: #1f1e1e;
  }
  nav.bovenmenu a{
    color: var(--color-background);
  }
  nav.tabletnav div#MenuToggle ul#menu li h3 {
    font-weight: 800;
    text-transform: var(--uppercase);
  } 
  .tab button {
    color: var(--color-background);
  } 
  .tab button:hover {
    border-bottom: 3px solid var(--color-background);
  }
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 3px solid var(--color-background);
  }
  /*********************/
  /* SUMMARY */
  /*********************/
  details {
    width: 80vw;
    border-bottom: 1px solid var(--color-background);
    margin: 3em 0;
  }
  summary {
    color: var(--color-background);
  }
  div#London.tabcontent details li,
  div#Paris.tabcontent details li,
  div#Tokyo.tabcontent details li {
    font-size: 0.6em;
    font-weight: 600;
    margin: 1em 0;
    color: var(--color-background);
  }
  div#London.tabcontent details summary img,
  div#Paris.tabcontent details summary img,
  div#Tokyo.tabcontent details summary img {
    filter: invert(100%);
  }
  
/*********************/
/* ICONS */
/*********************/
div.icons a img {
  filter: invert(100%);
}
header a img {
  filter: invert(100%);
}
/*********************/
/* STYLING BUTTONS */
/*********************/
  .buttonvideo {
    background-color: var(--color-text);
	  color: var(--color-background);
	}
  ul.container-price a {
    background-color: var(--color-background);
    color: var(--color-text);
}
	ul.container-price a:hover {
		background-color: #D0D0D0;
	}
/*********************/
/* HEADINGS */
/*********************/
ul#menu li h3.tablet-heading {
  color: var(--color-background);
}
	.shop-by-price h3 {
		color: var(--color-background);
	}
  .heading h3 {
    color: var(--color-background)
  }
  .product p, .product h4 {
    color: var(--color-background);
  }
/*********************/
/* FOOTER */
/*********************/
.paragraph h4, .paragraph h5, .paragraph p {
  color: var(--color-background);
}
section.links ul li h5, .links ul li a {
  color: var(--color-background);
}
.links ul li a:hover {
  text-decoration: underline;
}














}
